<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Automated Alerting System</span>
    </h3>
    <div class="card-toolbar">
      <a class="btn btn-sm btn-light-primary" (click)="onAddAlert()">
        <span class="fas fa-plus"></span> Add Alert
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="ps-4 min-w-125px rounded-start">#</th>
          <th class="min-w-200px">Name</th>
          <th class="min-w-125px">Watching</th>
          <th class="min-w-125px">Alert</th>
          <th class="min-w-125px">Last Edited</th>
          <th class="min-w-200px text-end rounded-end pe-4">Actions</th>
        </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center ps-4">
              <div class="d-flex justify-content-start flex-column me-5">
                <a class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  1
                </a>
                <!--                <span class="text-muted fw-bold text-muted d-block fs-7">-->
                <!--                  HTML, JS, ReactJS-->
                <!--                </span>-->
              </div>
            </div>
          </td>
          <td>
            <span class="fw-bolder text-hover-primary d-block mb-1 fs-6">
              Alert 1
            </span>
          </td>
          <td>
            <span class="fw-bolder text-hover-primary d-block mb-1 fs-6">
              Watching Action 1
            </span>
            <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Rejected</span>-->
          </td>
          <td>
            <span class="fw-bolder text-hover-primary d-block mb-1 fs-6">
              Alert Client
            </span>
            <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Insurance</span>-->
          </td>
          <td>
            <span class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              12/12/2019
            </span>
            <!--            <span class="badge badge-light-primary fs-7 fw-bold">Approved</span>-->
          </td>
          <td class="text-end">
            <!--            <a-->
            <!--              href="#"-->
            <!--              class="-->
            <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
            <!--                me-1-->
            <!--              "-->
            <!--            >-->
            <!--              <span-->
            <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"-->
            <!--                class="svg-icon svg-icon-3"-->
            <!--              ></span>-->
            <!--            </a>-->
            <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
               (click)="editAlert()" ngbTooltip="Edit">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3">
              </span>
            </a>
            <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
               (click)="deleteAlert()" ngbTooltip="Delete">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3">
              </span>
            </a>
          </td>
        </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<swal #DeleteAlertSwal
      text="This cannot be undone!"
      icon="question"
      [showCancelButton]="true" [focusCancel]="true" (confirm)="confirmDeleteAlert()">

</swal>

