<p-toast></p-toast>
<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">New Arrivals</span>
      <span class="text-muted mt-1 fw-bold fs-7">Over 500 new carriers</span>
    </h3>
    <div class="card-toolbar">
      <a href="#" class="btn btn-sm btn-light-primary" [routerLink]="['/apps/carrier/create']">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
        class="svg-icon svg-icon-3"></span>
        New Carrier
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="ps-4 min-w-175px rounded-start">Name</th>
          <th class="min-w-175px">Address</th>
          <th class="min-w-125px">MC Number</th>
          <th class="min-w-125px">USDOT Number</th>
          <th class="min-w-175px">Primary Phone</th>
          <th class="min-w-125px">Do Not Load</th>
          <!-- <th class="min-w-120px">Status</th> -->
          <th class="min-w-200px rounded-end pe-4">Actions</th>
        </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
        <tr *ngFor="let carrier of carriers let i = index">
          <td>
            <div class="d-flex align-items-center ps-2">
              <!-- <div class="symbol symbol-50px me-5">
                <img
                  src="./assets/media/avatars/150-18.jpg"
                  class=""
                  alt=""
                />
              </div> -->
              <div class="d-flex justify-content-start flex-column">
                <a
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{carrier.firstName}} {{carrier.lastName}}
                </a>
                <!-- <span class="text-muted fw-bold text-muted d-block fs-7">
                  Carrier description...
                </span> -->
              </div>
            </div>

          </td>
          <td>
            <span class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{carrier.street1}}
            </span>
          </td>
          <td>
            <span class="text-primary fw-bolder d-block mb-1 fs-6">
              {{carrier.mcNumberType}} {{carrier.mcNumber ?? 'N/A'}}
            </span>
            <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Rejected</span>-->
          </td>
          <td>
            <span class="text-success fw-bolder d-block mb-1 fs-6">
              {{carrier.usdotNumber ?? 'N/A'}}
            </span>
            <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Insurance</span>-->
          </td>
          <td>
            <span class="text-dark fw-bolder d-block mb-1 fs-6">
              {{carrier.telephone ?? 'N/A'}}
            </span>
          </td>
          <td>
            <span class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              Yes
            </span>
          </td>
          <!-- <td>
            <span class="badge badge-light-success fs-7 fw-bold">Active</span>
          </td> -->
          <td class="">
            <!--            <a-->
            <!--              href="#"-->
            <!--              class="-->
            <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
            <!--                me-1-->
            <!--              "-->
            <!--            >-->
            <!--              <span-->
            <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"-->
            <!--                class="svg-icon svg-icon-3"-->
            <!--              ></span>-->
            <!--            </a>-->
            <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
               (click)="editCarrier(carrier.id)" ngbTooltip="Edit">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3">
              </span>
            </a>
            <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
               (click)="deleteCarrier(carrier.id)" ngbTooltip="Delete">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3">
              </span>
            </a>
          </td>
        </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>


<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="cog"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<swal #DeleteCarrierSwal
      text="This cannot be undone!"
      icon="question"
      [showCancelButton]="true" [focusCancel]="true" (confirm)="confirmDeleteCarrier()">

</swal>

