<div class="post d-flex flex-column-fluid" id="kt_post">
  <div id="kt_content_container" class="container-xxl">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
      <!-- <div class="col-md-4"> -->
        <!--begin::Card-->
        <!-- <div class="card card-flush h-md-100"> -->
          <!--begin::Card header-->
          <!-- <div class="card-header"> -->
            <!--begin::Card title-->
            <!-- <div class="card-title"> -->
              <!-- <h2>Company Settings</h2> -->
            <!-- </div> -->
            <!--end::Card title-->
          <!-- </div> -->
          <!--end::Card header-->
          <!--begin::Card body-->
          <!-- <div class="card-body pt-1"> -->
            <!--begin::Users-->
            <!-- <div class="fw-bolder text-gray-600 mb-5">These settings affect all users in your company</div> -->
            <!--end::Users-->
            <!--begin::Permissions-->
            <!-- <div class="d-flex flex-column text-gray-600">
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/edit-company-contact-info']">
                <i class="fas fa-building fs-4 me-3 text-primary"></i>
                Edit your company contact info
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/configure-dropdowns-lists']">
                <i class="fas fa-list fs-4 me-3 text-primary"></i>
                Edit your dropdowns lists
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" (click)="openUploadCompanyModal()">
                <i class="fas fa-upload fs-4 me-3 text-primary"></i>
                Upload your company logo
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" (click)="openCustomizeInternationalCustomizationsModal()">
                <i class="fas fa-globe fs-4 me-3 text-primary"></i>
                Customize the default currency and units of measure for your location
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/configure-automated-alerts']">
                <i class="fas fa-bell fs-4 me-3 text-primary"></i>
                Configure your alerts
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" routerLink="/apps/settings/automated-workflow-engine">
                <i class="fas fa-network-wired fs-4 me-3 text-primary"></i>
                Automated Workflow Engine
              </div>
            </div> -->
            <!--end::Permissions-->
          <!-- </div> -->
          <!--end::Card body-->
        <!-- </div> -->
        <!--end::Card-->
      <!-- </div> -->

      <!-- <div class="col-md-4"> -->
        <!--begin::Card-->
        <!-- <div class="card card-flush h-md-100"> -->
          <!--begin::Card header-->
          <!-- <div class="card-header"> -->
            <!--begin::Card title-->
            <!-- <div class="card-title"> -->
              <!-- <h2>Report & Document Settings</h2> -->
            <!-- </div> -->
            <!--end::Card title-->
          <!-- </div> -->
          <!--end::Card header-->
          <!--begin::Card body-->
          <!-- <div class="card-body pt-1"> -->
            <!--begin::Users-->
            <!-- <div class="fw-bolder text-gray-600 mb-5">Change the adjustable settings on your reports and documents</div> -->
            <!--end::Users-->
            <!--begin::Permissions-->
            <!-- <div class="d-flex flex-column text-gray-600">
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/carrier-confirmation-documents']">
                <i class="fas fa-check-square fs-4 me-3 text-primary"></i>
                Edit the default settings for carrier confirmation documents
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/invoice-documents']">
                <i class="fas fa-file-alt fs-4 me-3 text-primary"></i>
                Edit the default settings for invoice documents
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/customer-confirmation-documents']">
                <i class="fas fa-dollar-sign fs-4 me-3 text-primary"></i>
                Edit the default settings for customer confirmation documents
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/bill-lading-documents']">
                <i class="fab fa-dropbox fs-4 me-3 text-primary"></i>
                Edit the default settings for bill of lading documents
              </div>
            </div> -->
            <!--end::Permissions-->
          <!-- </div> -->
          <!--end::Card body-->
        <!-- </div> -->
        <!--end::Card-->
      <!-- </div> -->

      <!-- <div class="col-md-4"> -->
        <!--begin::Card-->
        <!-- <div class="card card-flush h-md-100"> -->
          <!--begin::Card header-->
          <!-- <div class="card-header"> -->
            <!--begin::Card title-->
            <!-- <div class="card-title"> -->
              <!-- <h2>Load Management</h2> -->
            <!-- </div> -->
            <!--end::Card title-->
          <!-- </div> -->
          <!--end::Card header-->
          <!--begin::Card body-->
          <!-- <div class="card-body pt-1"> -->
            <!--begin::Users-->
            <!-- <div class="fw-bolder text-gray-600 mb-5">Change the adjustable settings on your load management screens</div> -->
            <!--end::Users-->
            <!--begin::Permissions-->
            <!-- <div class="d-flex flex-column text-gray-600">
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/configure-dropdowns-lists']" [queryParams]="{'isLoad': true}">
                <i class="fas fa-tasks fs-4 me-3 text-primary"></i>
                Customize your load management screens
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" (click)="onEditLoadNumberModal()">
                <i class="fas fa-list-ol fs-4 me-3 text-primary"></i>
                Edit your starting load number
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer">
                <i class="fas fa-check-circle fs-4 me-3 text-primary"></i>
                Show sample data
              </div>
            </div> -->
            <!--end::Permissions-->
          <!-- </div> -->
          <!--end::Card body-->
        <!-- </div> -->
        <!--end::Card-->
      <!-- </div> -->

      <!-- <div class="col-md-4"> -->
        <!--begin::Card-->
        <!-- <div class="card card-flush h-md-100"> -->
          <!--begin::Card header-->
          <!-- <div class="card-header"> -->
            <!--begin::Card title-->
            <!-- <div class="card-title"> -->
              <!-- <h2>Data Import</h2> -->
            <!-- </div> -->
            <!--end::Card title-->
          <!-- </div> -->
          <!--end::Card header-->
          <!--begin::Card body-->
          <!-- <div class="card-body pt-1"> -->
            <!--begin::Permissions-->
            <!-- <div class="d-flex flex-column text-gray-600">
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/customer/import']">
                <i class="fas fa-users fs-4 me-3 text-primary"></i>
                Import a list of customers
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/carrier/import']">
                <i class="fas fa-truck fs-4 me-3 text-primary"></i>
                Import a list of carriers
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/location/import']">
                <i class="fas fa-map-marker fs-4 me-3 text-primary"></i>
                Import a list of locations
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-list-alt fs-4 me-3 text-primary"></i>
                Import load history from another system
              </div>
            </div> -->
            <!--end::Permissions-->
          <!-- </div> -->
          <!--end::Card body-->
        <!-- </div> -->
        <!--end::Card-->
      <!-- </div> -->

      <div class="col-md-4">
        <!--begin::Card-->
        <div class="card card-flush h-md-100">
          <div class="card-header">
            <div class="card-title">
              <h2>User and Branch / Department Management</h2>
            </div>
          </div>
          <div class="card-body pt-1">
            <div class="d-flex flex-column text-gray-600">
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/manage-users']">
                <i class="fas fa-user fs-4 me-3 text-primary"></i>
                Add or edit users
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/manage-branches']">
                <i class="fas fa-sitemap fs-4 me-3 text-primary"></i>
                Add or edit branches / departments
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-info-circle fs-4 me-3 text-primary"></i>
                Branch / Department Overview
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/manage-permission-groups']">
                <i class="fas fa-check-square fs-4 me-3 text-primary"></i>
                Add or Edit Permission Groups
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/manage-roles']">
                <i class="fas fa-users fs-4 me-3 text-primary"></i>
                Add or edit roles
              </div>
              <div class="d-flex align-items-center py-2 cursor-pointer" [routerLink]="['/apps/settings/assign-user-roles']">
                <i class="fas fa-dollar-sign fs-4 me-3 text-primary"></i>
                Assign User Roles / Commission Overrides
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!--begin::Card-->
        <div class="card card-flush h-md-100">
          <div class="card-header">
            <div class="card-title">
              <h2>Premium Features and Billing Details</h2>
            </div>
          </div>
          <div class="card-body pt-1">
            <div class="d-flex flex-column text-gray-600">
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-toggle-on fs-4 me-3 text-primary"></i>
                Adjust company plan and available features
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-retweet fs-4 me-3 text-primary"></i>
                Add or Edit External Load Sources
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-money-bill-alt fs-4 me-3 text-primary"></i>
                Add or Edit Factoring Settings
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-credit-card fs-4 me-3 text-primary"></i>
                Add or Edit Carrier Payment Settings
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-map-marker fs-4 me-3 text-primary"></i>
                Add or Edit Load Tracking Settings
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-link fs-4 me-3 text-primary"></i>
                TowerStation Settings
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
