<div class="card mb-5 mb-xl-8">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Accounting Management</span>
      <span class="text-muted mt-1 fw-bold fs-7">
        Perform accounting related tasks on loads that have been <strong>Sent to Accounting.</strong>
      </span>
    </h3>
  </div>
  <div class="card-body py-3">
    <div class="d-flex overflow-auto h-55px">
      <ul
        class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent
          fs-5 fw-bolder flex-nowrap">
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6"
             routerLink="/apps/accounting/management/invoices"
             routerLinkActive="active">
            Invoices
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6"
             routerLink="/apps/accounting/management/bills"
             routerLinkActive="active">
            Bills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6"
             routerLink="/apps/accounting/management/reconcile-archive"
             routerLinkActive="active">
            Reconcile And Archive
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6"
             routerLink="/apps/accounting/management/archived-loads"
             routerLinkActive="active">
            Search Archived Loads
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
