<p-toast></p-toast>
<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">New Arrivals</span>
      <span class="text-muted mt-1 fw-bold fs-7">Over 500 new customers</span>
    </h3>
    <div *ngIf="customersCreate" class="card-toolbar">
      <a href="#" class="btn btn-sm btn-light-primary" [routerLink]="['/apps/customer/create']">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
        class="svg-icon svg-icon-3"
      ></span>
        New Customer
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="ps-4 min-w-100px rounded-start">Customer ID</th>
          <th class="min-w-200px">Customer</th>
          <th class="min-w-150px">MC Number</th>
          <th class="min-w-125px">USDOT Number</th>
          <th class="min-w-125px">Primary Contact</th>
          <th class="min-w-120px">Primary Phone</th>
          <th class="min-w-200px rounded-end pe-4">Actions</th>
        </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
        <tr *ngFor="let customer of customers let i = index">
          <td>
            <div class="d-flex align-items-center ps-4">
              <!--              <div class="symbol symbol-50px me-5">-->
              <!--                <img-->
              <!--                  src="./assets/media/stock/600x400/img-26.jpg"-->
              <!--                  class=""-->
              <!--                  alt=""-->
              <!--                />-->
              <!--              </div>-->
              <div class="d-flex justify-content-start flex-column me-5">
                <a class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{i+1}}
                </a>
                <!--                <span class="text-muted fw-bold text-muted d-block fs-7">-->
                <!--                  HTML, JS, ReactJS-->
                <!--                </span>-->
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <!-- <div class="symbol symbol-50px me-5">
                <img
                  src="./assets/media/avatars/150-18.jpg"
                  class=""
                  alt=""
                />
              </div> -->
              <div class="d-flex justify-content-start flex-column">
                <a *ngIf="customer.middleName == 'null'"
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{customer.firstName}} {{customer.lastName}}
                </a>
                <a *ngIf="customer.middleName != 'null'"
                class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                {{customer.firstName}} {{customer.middleName ?? ''}} {{customer.lastName}}
              </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  TowerStation
                </span>
              </div>
            </div>
          </td>
          <td>
            <span *ngIf="customer.mcNumber == 'null'" class="text-primary fw-bolder text-hover-primary d-block mb-1 fs-6">
             N/A
            </span>
            <span  *ngIf="customer.mcNumber != 'null'" class="text-primary fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{customer.mcNumberType}} {{customer.mcNumber ?? 'N/A'}}
            </span>
            <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Rejected</span>-->
          </td>
          <td>
            <span *ngIf="customer.usdotNumber == 'null'"  class="text-success fw-bolder text-hover-primary d-block mb-1 fs-6">
             N/A
            </span>
            <span *ngIf="customer.usdotNumber != 'null'"  class="text-success fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{customer.usdotNumber ?? 'N/A'}}
            </span>
            <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Insurance</span>-->
          </td>
          <td>
            <span *ngIf="customer.email == 'null'"   class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              N/A
            </span>
            <span *ngIf="customer.email != 'null'"   class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{customer.email ?? 'N/A'}}
            </span>
            <!--            <span class="badge badge-light-primary fs-7 fw-bold">Approved</span>-->
          </td>
          <td>
            <span *ngIf="customer.telephone == 'null'"  class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
               N/A
            </span>
            <span  *ngIf="customer.telephone != 'null'"  class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{customer.telephone ?? 'N/A'}}
            </span>
            <!--            <span class="badge badge-light-primary fs-7 fw-bold">Approved</span>-->
          </td>
          <td class="">
            <!--            <a-->
            <!--              href="#"-->
            <!--              class="-->
            <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
            <!--                me-1-->
            <!--              "-->
            <!--            >-->
            <!--              <span-->
            <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"-->
            <!--                class="svg-icon svg-icon-3"-->
            <!--              ></span>-->
            <!--            </a>-->
            <a *ngIf="customersUpdate"class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
               (click)="editCustomer(customer.id)" ngbTooltip="Edit">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3">
              </span>
            </a>
            <a *ngIf="customersDelete" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
               (click)="openDeleteCustomerConfirmationDialogue(customer.id)" ngbTooltip="Delete">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3">
              </span>
            </a>
          </td>
        </tr>
        <!--        <tr>-->
        <!--          <td>-->
        <!--            <div class="d-flex align-items-center">-->
        <!--              <div class="symbol symbol-50px me-5">-->
        <!--                <img-->
        <!--                  src="./assets/media/stock/600x400/img-3.jpg"-->
        <!--                  class=""-->
        <!--                  alt=""-->
        <!--                />-->
        <!--              </div>-->
        <!--              <div class="d-flex justify-content-start flex-column">-->
        <!--                <a-->
        <!--                  href="#"-->
        <!--                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"-->
        <!--                >-->
        <!--                  Telegram Development-->
        <!--                </a>-->
        <!--                <span class="text-muted fw-bold text-muted d-block fs-7">-->
        <!--                  C#, ASP.NET, MS SQL-->
        <!--                </span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              $4,790-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Paid</span>-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              $240-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7"-->
        <!--            >Rejected</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              Chris Thompson-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7"-->
        <!--            >NBA Player</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <span class="badge badge-light-danger fs-7 fw-bold"-->
        <!--            >In Progress</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td class="text-end">-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="-->
        <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
        <!--                me-1-->
        <!--              "-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="-->
        <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
        <!--                me-1-->
        <!--              "-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--          </td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--          <td>-->
        <!--            <div class="d-flex align-items-center">-->
        <!--              <div class="symbol symbol-50px me-5">-->
        <!--                <img-->
        <!--                  src="./assets/media/stock/600x400/img-9.jpg"-->
        <!--                  class=""-->
        <!--                  alt=""-->
        <!--                />-->
        <!--              </div>-->
        <!--              <div class="d-flex justify-content-start flex-column">-->
        <!--                <a-->
        <!--                  href="#"-->
        <!--                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"-->
        <!--                >-->
        <!--                  Payroll Application-->
        <!--                </a>-->
        <!--                <span class="text-muted fw-bold text-muted d-block fs-7">-->
        <!--                  PHP, Laravel, VueJS-->
        <!--                </span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              $4,390-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Paid</span>-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              $593-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7"-->
        <!--            >Rejected</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              Zoey McGee-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7"-->
        <!--            >Ruby Developer</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <span class="badge badge-light-success fs-7 fw-bold">Success</span>-->
        <!--          </td>-->
        <!--          <td class="text-end">-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="-->
        <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
        <!--                me-1-->
        <!--              "-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="-->
        <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
        <!--                me-1-->
        <!--              "-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--          </td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--          <td>-->
        <!--            <div class="d-flex align-items-center">-->
        <!--              <div class="symbol symbol-50px me-5">-->
        <!--                <img-->
        <!--                  src="./assets/media/stock/600x400/img-18.jpg"-->
        <!--                  class=""-->
        <!--                  alt=""-->
        <!--                />-->
        <!--              </div>-->
        <!--              <div class="d-flex justify-content-start flex-column">-->
        <!--                <a-->
        <!--                  href="#"-->
        <!--                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"-->
        <!--                >-->
        <!--                  HR Management System-->
        <!--                </a>-->
        <!--                <span class="text-muted fw-bold text-muted d-block fs-7">-->
        <!--                  Python, PostgreSQL, ReactJS-->
        <!--                </span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              $7,990-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Paid</span>-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              $980-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7"-->
        <!--            >Rejected</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              Brandon Ingram-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7"-->
        <!--            >Insurance</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <span class="badge badge-light-info fs-7 fw-bold">Rejected</span>-->
        <!--          </td>-->
        <!--          <td class="text-end">-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="-->
        <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
        <!--                me-1-->
        <!--              "-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="-->
        <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
        <!--                me-1-->
        <!--              "-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--          </td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--          <td>-->
        <!--            <div class="d-flex align-items-center">-->
        <!--              <div class="symbol symbol-50px me-5">-->
        <!--                <img-->
        <!--                  src="./assets/media/stock/600x400/img-8.jpg"-->
        <!--                  class=""-->
        <!--                  alt=""-->
        <!--                />-->
        <!--              </div>-->
        <!--              <div class="d-flex justify-content-start flex-column">-->
        <!--                <a-->
        <!--                  href="#"-->
        <!--                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"-->
        <!--                >-->
        <!--                  Telegram Mobile-->
        <!--                </a>-->
        <!--                <span class="text-muted fw-bold text-muted d-block fs-7">-->
        <!--                  HTML, JS, ReactJS-->
        <!--                </span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              $5,790-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7">Paid</span>-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              $750-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7"-->
        <!--            >Rejected</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"-->
        <!--            >-->
        <!--              Natali Trump-->
        <!--            </a>-->
        <!--            <span class="text-muted fw-bold text-muted d-block fs-7"-->
        <!--            >Insurance</span-->
        <!--            >-->
        <!--          </td>-->
        <!--          <td>-->
        <!--            <span class="badge badge-light-warning fs-7 fw-bold">Approved</span>-->
        <!--          </td>-->
        <!--          <td class="text-end">-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="-->
        <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
        <!--                me-1-->
        <!--              "-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="-->
        <!--                btn btn-icon btn-bg-light btn-active-color-primary btn-sm-->
        <!--                me-1-->
        <!--              "-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--            <a-->
        <!--              href="#"-->
        <!--              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"-->
        <!--            >-->
        <!--              <span-->
        <!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"-->
        <!--                class="svg-icon svg-icon-3"-->
        <!--              ></span>-->
        <!--            </a>-->
        <!--          </td>-->
        <!--        </tr>-->
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="cog"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<swal #DeleteCustomerSwal
      text="This cannot be undone!"
      icon="question"
      [showCancelButton]="true" [focusCancel]="true" (confirm)="confirmDeleteCustomer()">

</swal>

