<div>
  <div class="card mb-5 mb-xl-10">
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      aria-expanded="true">
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Edit Company Lists</h3>
      </div>
    </div>
    <div class="collapse show">
      <div class="card-body border-top p-9">
        <div class="row">
          <div class="col-lg-12">
            <label class="col-form-label fw-bold fs-6">
              Select a list
            </label>
            <select
              class="form-select form-select-solid form-select-lg"
              [(ngModel)]="selectedList" (ngModelChange)="onListChange()">
              <option [ngValue]="null">Select a list</option>
              <option *ngFor="let list of this.lists" [ngValue]="list">
                {{list}}
              </option>
            </select>
            <div class="mb-10 mt-5 bg-light-info p-8 rounded" *ngIf="selectedList">
              <div class="text-info">
                <strong>
                  Did you know?
                </strong>
                <ul>
                  <li>All new values are added to the bottom of the list when you click the "Add New Value" button.</li>
                  <li>Values are modified by clicking on the value you want to edit.</li>
                  <li>Use the "drag-and-drop reorder" icon (<i class="pi pi-bars"></i>) to reorder items in the list.
                  </li>
                  <li>Changes are saved automatically.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-5 mb-xl-10" *ngIf="selectedList">
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      aria-expanded="true">
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Edit {{selectedList}}</h3>
      </div>
      <div class="card-title m-0">
        <button class="btn btn-primary me-4" (click)="onAddValue()">
          <i class="fas fa-plus"></i>Add New Value
        </button>
        <button class="btn btn-info" (click)="onSortByName()">
          <i class="fas fa-sort-alpha-down"></i> Sort By Name
        </button>
      </div>
    </div>
    <div class="collapse show">
      <div class="card-body border-top p-9">
        <div class="row">
          <div class="col-lg-12">
            <ng-container *ngTemplateOutlet="selectedTableTemplateRef">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #commodityTableTemplate>
  <p-table [value]="commodities" dataKey="id" [reorderableColumns]="true" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pReorderableColumn>Order</th>
        <th pReorderableColumn pSortableColumn="value">Value
          <p-sortIcon field="value"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="grouping">Grouping
          <p-sortIcon field="grouping"></p-sortIcon>
        </th>
        <th pReorderableColumn>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-ri="rowIndex">
      <tr [pReorderableRow]="ri">
        <td>
          {{ri + 1}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.value">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.value}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.grouping" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{item.grouping}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <button class="btn btn-sm btn-danger me-4" (click)="onDeleteValue(ri)">
            <i class="fas fa-trash"></i>
          </button>
          <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #loadStatusTableTemplate>
  <p-table [value]="loadStatuses" dataKey="id" [reorderableColumns]="true" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pReorderableColumn>
          Order
        </th>
        <th pReorderableColumn pSortableColumn="value">
          Value
          <p-sortIcon field="value"></p-sortIcon>
        </th>
        <th pReorderableColumn>
          Color
        </th>
        <th pReorderableColumn pSortableColumn="grouping">
          Grouping
          <p-sortIcon field="grouping"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="isActive">
          Active
          <p-sortIcon field="isActive"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="isPlanning">
          Planning
          <p-sortIcon field="isPlanning"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="isReadyForAccounting">
          Ready for Accounting
          <p-sortIcon field="isReadyForAccounting"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="isMisc">
          Misc
          <p-sortIcon field="isMisc"></p-sortIcon>
        </th>
        <th pReorderableColumn>
          Actions
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-ri="rowIndex">
      <tr [pReorderableRow]="ri">
        <td>
          {{ri + 1}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.value">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.value}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-colorPicker [(ngModel)]="item.color" showTransitionOptions="0" hideTransitionOptions="0">
          </p-colorPicker>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.grouping" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{item.grouping}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <label class="form-check form-check-inline form-check-solid me-5">
            <input type="checkbox" [(ngModel)]="item.isActive"
                   class="form-check-input">
          </label>
        </td>
        <td>
          <label class="form-check form-check-inline form-check-solid me-5">
            <input type="checkbox" [(ngModel)]="item.isPlanning"
                   class="form-check-input">
          </label>
        </td>
        <td>
          <label class="form-check form-check-inline form-check-solid me-5">
            <input type="checkbox" [(ngModel)]="item.isReadyForAccounting"
                   class="form-check-input">
          </label>
        </td>
        <td>
          <label class="form-check form-check-inline form-check-solid me-5">
            <input type="checkbox" [(ngModel)]="item.isMisc"
                   class="form-check-input">
          </label>
        </td>
        <td>
          <button class="btn btn-sm btn-danger me-4" (click)="onDeleteValue(ri)">
            <i class="fas fa-trash"></i>
          </button>
          <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #payItemTableTemplate>
  <p-table [value]="payItems" dataKey="id" [reorderableColumns]="true" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pReorderableColumn>Order</th>
        <th pReorderableColumn pSortableColumn="value">
          Value
          <p-sortIcon field="value"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="grouping">
          Grouping
          <p-sortIcon field="grouping"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="defaultRate">
          Default Rate
          <p-sortIcon field="defaultRate"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="defaultQuantity">
          Default Quantity
          <p-sortIcon field="defaultQuantity"></p-sortIcon>
        </th>
        <th pReorderableColumn>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-ri="rowIndex">
      <tr [pReorderableRow]="ri">
        <td>
          {{ri + 1}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.value">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.value}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.grouping" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{item.grouping}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" mask="separator" thousandSeparator=","
                     [(ngModel)]="item.defaultRate" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{item.defaultRate}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="defaultQuantities" [(ngModel)]="item.defaultQuantity">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{item.defaultQuantity}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <button class="btn btn-sm btn-danger me-4" (click)="onDeleteValue(ri)">
            <i class="fas fa-trash"></i>
          </button>
          <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #truckLengthTableTemplate>
  <p-table [value]="truckLengths" dataKey="id" [reorderableColumns]="true" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pReorderableColumn>Order</th>
        <th pReorderableColumn pSortableColumn="value">Value
          <p-sortIcon field="value"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="grouping">Grouping
          <p-sortIcon field="grouping"></p-sortIcon>
        </th>
        <th pReorderableColumn>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-ri="rowIndex">
      <tr [pReorderableRow]="ri">
        <td>
          {{ri + 1}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.value">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.value}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.grouping" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{item.grouping}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <button class="btn btn-sm btn-danger me-4" (click)="onDeleteValue(ri)">
            <i class="fas fa-trash"></i>
          </button>
          <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #truckStatusTableTemplate>
  <p-table [value]="truckStatuses" dataKey="id" [reorderableColumns]="true" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pReorderableColumn>Order</th>
        <th pReorderableColumn pSortableColumn="value">Value
          <p-sortIcon field="value"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="grouping">Grouping
          <p-sortIcon field="grouping"></p-sortIcon>
        </th>
        <th pReorderableColumn>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-ri="rowIndex">
      <tr [pReorderableRow]="ri">
        <td>
          {{ri + 1}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.value">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.value}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.grouping" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{item.grouping}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <button class="btn btn-sm btn-danger me-4" (click)="onDeleteValue(ri)">
            <i class="fas fa-trash"></i>
          </button>
          <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #truckTypeTableTemplate>
  <p-table [value]="truckTypes" dataKey="id" [reorderableColumns]="true" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pReorderableColumn>Order</th>
        <th pReorderableColumn pSortableColumn="value">Value
          <p-sortIcon field="value"></p-sortIcon>
        </th>
        <th pReorderableColumn pSortableColumn="grouping">Grouping
          <p-sortIcon field="grouping"></p-sortIcon>
        </th>
        <th pReorderableColumn>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-ri="rowIndex">
      <tr [pReorderableRow]="ri">
        <td>
          {{ri + 1}}
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.value">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.value}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.grouping" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{item.grouping}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <button class="btn btn-sm btn-danger me-4" (click)="onDeleteValue(ri)">
            <i class="fas fa-trash"></i>
          </button>
          <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
