.ng-select.custom ::ng-deep .ng-select-container {
  height: 3.5rem !important;
  width: 7.5rem !important;
  background-color: #F5F8FA;
  border-color: #F5F8FA;
  color: #5E6278;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.ng-select.custom ::ng-deep .ng-option-selected {
  background-color: #F5F8FA !important;
  border-color: #F5F8FA !important;
  color: #5E6278 !important;
  transition: color 0.2s ease, background-color 0.2s ease;
}

::ng-deep .ng-select.custom.ng-select-focused.ng-touched .ng-select-container {
  border-color: transparent !important;
  box-shadow: none;
}

::ng-deep .load-types-buttons div[role="button"] {
  width: 50%;
  height: 3.5rem;

  span {
    line-height: 1.5;
    font-weight: 500;
  }
}

::ng-deep .load-types-buttons div[aria-pressed="true"][aria-label="OK TO LOAD"] {
  background-color: #5FB860 !important;
  color: white !important;
}

::ng-deep .load-types-buttons div[aria-pressed="true"][aria-label="DO NOT LOAD"] {
  background-color: #E54941 !important;
  color: white !important;
}

.input-group-text {
  border: none;
  border-left-style: outset;
}
