<div>
    <form novalidate="" class="form">
      <div class="card mb-5 mb-xl-10">
        <div
          class="card-header border-0"
          aria-expanded="true">
          <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Form</h3>
          </div>
        </div>
        <div class="collapse show">
          <div class="card-body border-top p-9">
            <div class="row mb-6">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12 fv-row">
                    <label class="col-form-label required fw-bold fs-6">
                      Question
                    </label>
                    <input
                      type="text"
                      formControlName="question"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Question"/>
                  </div>
            
                </div>
              </div>
            </div>
            <div class="row mb-6">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-8 fv-row">
                      <label class="col-form-label required fw-bold fs-6">
                        Question Type
                      </label>
                      <select 
                      class="form-select form-select-solid form-select-lg"
                      formControlName="option">
                      <option [value]="null">Select Type</option>
                      <option *ngFor="let type of types" [value]="type">
                        {{type}}
                      </option>
                    </select>
                    </div>
                    <div class="col-lg-4 fv-row mt-12">
                        <button  class="btn btn-primary">Add Option</button>
                      </div>
                  </div>
                </div>
              </div>
    
            <!-- <div class="row mb-6">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12 fv-row">
                    <label class="col-form-label fw-bold fs-6">
                      Status
                    </label>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="m-0 pt-4">
                          <span class="form-check form-check-custom form-check-solid">
                            <input type="radio" formControlName="status"  [value]="true"
                            [(ngModel)]="status"  class="form-check-input" name="status">
                            <label class="form-check-label">
                              Active
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="m-0 pt-4">
                          <span class="form-check form-check-custom form-check-solid">
                            <input type="radio" formControlName="status" value="0"
                                   class="form-check-input" name="status">
                            <label class="form-check-label">
                              Inactive
                            </label>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
  
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary">
        <ng-container *ngIf="!isLoading">Save Changes</ng-container>
        <ng-container *ngIf="isLoading">
                    <span class="indicator-progress" [style.display]="'block'">
                      Please wait...{{ " " }}
                      <span
                        class="spinner-border spinner-border-sm align-middle ms-2"
                      ></span>
                    </span>
        </ng-container>
      </button>
    </form>
  </div>