::ng-deep .filter-loads-buttons div[role="button"] {
  width: 50%;
  height: 3.5rem;

  span {
    line-height: 1.5;
    font-weight: 500;
  }
}

::ng-deep .filter-loads-buttons div[aria-pressed="true"][aria-label="Paid & Settled Loads"] {
  background-color: #5FB860 !important;
  color: white !important;
}

::ng-deep .filter-loads-buttons div[aria-pressed="true"][aria-label="All Loads"] {
  background-color: #5FB860 !important;
  color: white !important;
}
