<div>
  <form novalidate="" class="form" [formGroup]="form">
    <div class="card mb-5 mb-xl-10">
      <div
        class="card-header border-0 pt-5" aria-expanded="true">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Driver Pay Report Criteria</span>
          <span class="text-muted mt-1 fw-bold fs-7">
            Manage driver payroll and deductions, including settlement exports and more.
          </span>
        </h3>
      </div>
      <div class="collapse show">
        <div class="card-body border-top p-9">
          <div class="row mb-6">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <label class="col-form-label required fw-bold fs-6">
                    Date Range
                  </label>
                  <input mwlFlatpickr type="text" formControlName="dateRange"
                         placeholder="Date Range" mode="range"
                         [altInput]="true" [convertModelValue]="true"
                         class="form-control form-control-lg form-control-solid" />
                  <div class="row mb-2">
                    <div class="col-lg-3">
                      <div class="d-flex align-items-center mt-3">
                        <label class="form-check form-check-inline form-check-solid me-5">
                          <input type="checkbox" formControlName="isPickupDate"
                                 class="form-check-input">
                          <span class="form-check-label">
                            Pickup Date
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="d-flex align-items-center mt-3">
                        <label class="form-check form-check-inline form-check-solid me-5">
                          <input type="checkbox" formControlName="isDeliveryDate"
                                 class="form-check-input">
                          <span class="form-check-label">
                            Delivery Date
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <span class="text-muted mt-3">
                    Select date range and whether to run by pickup and/or delivery date
                  </span>
                </div>
                <div class="col-lg-6 fv-row">
                  <label class="col-form-label fw-bold fs-6">
                    Drivers
                  </label>
                  <ng-select
                    [items]="this.drivers" formControlName="drivers"
                    [addTag]="false" [multiple]="true" class="custom-tag-select"
                    [selectOnTab]="true" placeholder="Select drivers">
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer py-6 px-9">
          <div class="row">
            <div class="col-lg-12">
              <button
                type="button"
                class="btn btn-primary"> Save Changes
                <!--          <ng-container *ngIf="!isLoading">Save Changes</ng-container>-->
                <!--          <ng-container *ngIf="isLoading">-->
                <!--            <span clas="indicator-progress" [style.display]="'block'">-->
                <!--              Please wait...{{ " " }}-->
                <!--              <span-->
                <!--                class="spinner-border spinner-border-sm align-middle ms-2"-->
                <!--              ></span>-->
                <!--            </span>-->
                <!--          </ng-container>-->
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="card mb-5 mb-xl-8">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Driver Pay Report</span>
      </h3>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <table class="table align-middle gs-0 gy-4">
          <!-- begin::Table head -->
          <thead>
          <tr class="fw-bolder text-muted bg-light">
            <th class="ps-4 min-w-125px rounded-start">Driver Name</th>
            <th class="min-w-200px">Driver Number</th>
            <th class="min-w-125px">Delivery Date</th>
            <th class="min-w-125px">Paid Status</th>
            <th class="min-w-125px">Payroll Date</th>
            <th class="min-w-120px">Amount</th>
            <th class="min-w-125px">Source</th>
            <!--            <th class="min-w-200px text-end rounded-end pe-4">Actions</th>-->
          </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center ps-4">
                <div class="d-flex justify-content-start flex-column me-5">
                  <a class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    John Doe
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a
                    class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    (123) 456-7890
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a
                    class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    12/12/2019
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a
                    class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    Paid
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a
                    class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    12/12/2019
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a
                    class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    $100.00
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a
                    class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    Payroll
                  </a>
                </div>
              </div>
            </td>
<!--            <td class="text-end">-->
<!--              &lt;!&ndash;            <a&ndash;&gt;-->
<!--              &lt;!&ndash;              href="#"&ndash;&gt;-->
<!--              &lt;!&ndash;              class="&ndash;&gt;-->
<!--              &lt;!&ndash;                btn btn-icon btn-bg-light btn-active-color-primary btn-sm&ndash;&gt;-->
<!--              &lt;!&ndash;                me-1&ndash;&gt;-->
<!--              &lt;!&ndash;              "&ndash;&gt;-->
<!--              &lt;!&ndash;            >&ndash;&gt;-->
<!--              &lt;!&ndash;              <span&ndash;&gt;-->
<!--              &lt;!&ndash;                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"&ndash;&gt;-->
<!--              &lt;!&ndash;                class="svg-icon svg-icon-3"&ndash;&gt;-->
<!--              &lt;!&ndash;              ></span>&ndash;&gt;-->
<!--              &lt;!&ndash;            </a>&ndash;&gt;-->
<!--              <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"-->
<!--                 (click)="editCustomer()" ngbTooltip="Edit">-->
<!--              <span-->
<!--                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"-->
<!--                class="svg-icon svg-icon-3">-->
<!--              </span>-->
<!--              </a>-->
<!--              <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"-->
<!--                 (click)="deleteCustomer()" ngbTooltip="Delete">-->
<!--              <span-->
<!--                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"-->
<!--                class="svg-icon svg-icon-3">-->
<!--              </span>-->
<!--              </a>-->
<!--            </td>-->
          </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
  </div>
</div>
